# reverse git ignore
**/*

# git
!.gitignore
!README.md

# npm / bun
!package.json
!bun.lock
node_modules

# typescript
!tsconfig.json
!src
!**/*.ts

# utility
**/*.ignore

# biome
!biome.json

# knip
!knip.json