# reverse git ignore
*
!*/

# git
!.gitignore
!README.md
!.github/**/*.yml

# npm / bun
!package.json
!bun.lock
**/node_modules/

# typescript
!tsconfig.json
!src/**/*.ts

# biome
!biome.json

# knip
!knip.json

# utility
**/*.ignore